html, body {
    height: 100%;
    margin: 0;
  }
  .account {
    width: 100%;
    height: 100vh;
    
    position: fixed;
    top: 0;
    z-index: 999999;
}
.back {
  height: 100%;
  width:100%;
  position: fixed;
  background: #000000a6;
}
  .sign_in {
    position: absolute;
    width: 32%;
    margin-top: 4%;
    margin-left: 34%;
    background-color: white;
    border-radius: 5px;
}
.sign_up{
  position: absolute;
  width: 32%;
  margin-top: 2%;
  margin-left: 34%;
  background-color: white;
  border-radius: 5px;
}
.sign_in h2,.sign_up h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .account button {
    background-color: rgb(0, 153, 255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}
  
  button:hover {
    opacity: 0.8;
  }
  .account .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  label {
    font-size: 18px;
    margin-bottom: -5px;
}
.text-right {
  float: right;
  padding-top: 16px;
  float: right;
}
.text-right span {
  color: blue;
  cursor: pointer;
}

